{% extends "modersite/app.html" %}{% load i18n %}
{% block body_banner %}
{% endblock body_banner %}

{% block body_content %}
    <div class="d-md-flex flex-nowrap mt-5 pt-5 offset-lg-2 ">
        <div class="d-flex flex-column flex-shrink-0 p-0 list-group">
            {% url 'account_email' as email_url %}
            {% url 'account_change_password' as change_password_url %}
            {% url 'mfa_index' as mfa_url %}
            {% url 'usersessions_list' as usersessions_list_url %}
            {% url 'account_logout' as logout_url %}
            {% if email_url %}
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'account_email' %}active{% endif %}"
                   href="{{ email_url }}">{% trans "Change Email" %}</a>
            {% endif %}
            {% if change_password_url %}
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'account_change_password' %}active{% endif %}"
                   href="{{ change_password_url }}">{% trans "Change Password" %}</a>
            {% endif %}
            {% if mfa_url %}
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'mfa_index' %}active{% endif %}"
                   href="{{ mfa_url }}">{% trans "Two-Factor Authentication" %}</a>
            {% endif %}
            {% if usersessions_list_url %}
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'usersessions_list' %}active{% endif %}"
                   href="{{ usersessions_list_url }}">{% trans "Sessions" %}</a>
            {% endif %}
            {% if logout_url %}
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}"
                   href="{{ logout_url }}">{% trans "Sign Out" %}</a>
            {% endif %}
        </div>
        <div class="d-flex flex-column flex-shrink-0 col-lg-6 col-md-8 card p-0">
            {% block content %}
            {% endblock content %}
        </div>
        {% block extra_body %}
        {% endblock extra_body %}
    </div>
{% endblock body_content %}
