{% extends "modersite/base.html" %}
{% load i18n modersite websockets %}

{% block navbar_content %}
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">{% trans 'Home' %}
                <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'demo' %}">{% trans "Demo" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
    </ul>
{% endblock navbar_content %}

{% block navbar_search_form %}
    <form class="d-flex ">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{% trans 'Search' %}"
                   name="search_pattern"
                   aria-label="{% trans 'Search' %}" aria-describedby="navbar-search-button">
            <button class="btn btn-outline-light" type="submit"
                    id="navbar-search-button">{% fa6_icon 'search' %}</button>
        </div>
    </form>
{% endblock navbar_search_form %}


{% block body_content %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" {% js_call "html.remove" on="click" selector="[role=alert]" %}
                aria-label="Close"></button>
    </div>
{% endblock body_content %}
