.alert-ribbon {
    width: 12.1em;
    height: 12.1em;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
    font-size: 13px;
    text-decoration: none;
    text-indent: -999999px;
}

.alert-ribbon:hover, .alert-ribbon:active {
    background-color: rgba(0, 0, 0, 0.0);
}

.alert-ribbon:before, .alert-ribbon:after {
    /* The right and left classes determine the side we attach our banner to */
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;

    top: 3.23em;
    right: -3.23em;

    box-sizing: content-box;
    transform: rotate(45deg);
}

.alert-ribbon-tricolor:before {
    /*    background-color: #a00; */
    background: linear-gradient(to bottom, #002654 27%, #fff 0, #fff 73%, #ED2939 0);
    color: $dark;
}
.alert-ribbon-tricolor:after {
    /*    background-color: #a00; */
    color: $dark;
}

@each $color, $value in $theme-colors {
    .alert-ribbon-#{$color}:before {
        background: $value;
        color: color-contrast($value);
    }
    .alert-ribbon-#{$color}:after {
        background: $value;
        color: color-contrast($value);
        border-color: color-contrast($value);
    }
}

.alert-ribbon:before {
    content: "";
    padding: .38em 0;

    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    /*    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)); */

    /* Add a drop shadow */
    box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);

    pointer-events: auto;
}

.alert-ribbon:after {
    /* Set the text from the data-ribbon attribute */
    content: attr(data-ribbon);

    /* Set the text properties */
    font-family: var(--#{$prefix}body-font-family);

    line-height: 1.54em;
    text-decoration: none;
    text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;

    /* Set the layout properties */
    padding: .15em 0;
    margin: .15em 0;

    /* Add "stitching" effect */
    border-width: .08em 0;
    border-style: dotted;
    /* border-color: rgba(255, 255, 255, 0.7); */
}


.alert-ribbon.fixed {
    position: fixed;
}

.alert-ribbon.left-top, .alert-ribbon.left-bottom {
    right: auto;
    left: 0;
}

.alert-ribbon.left-bottom, .alert-ribbon.right-bottom {
    top: auto;
    bottom: 0;
}

.alert-ribbon.left-top:before, .alert-ribbon.left-top:after, .alert-ribbon.left-bottom:before, .alert-ribbon.left-bottom:after {
    right: auto;
    left: -3.23em;
}

.alert-ribbon.left-bottom:before, .alert-ribbon.left-bottom:after, .alert-ribbon.right-bottom:before, .alert-ribbon.right-bottom:after {
    top: auto;
    bottom: 3.23em;
}

.alert-ribbon.left-top:before, .alert-ribbon.left-top:after, .alert-ribbon.right-bottom:before, .alert-ribbon.right-bottom:after {
    transform: rotate(-45deg);
}
